<div style="margin: 20px;" class="center-text-horizontally">
  <strong>Select Game Type</strong>
</div>
<div
  ng-repeat="option in $ctrl.availableOptions"
  layout="column"
  layout-align="start center"
>
  <span
    class="game-type-option"
    ng-class="{'selected-game-type': option.id === $ctrl.type}"
    ng-click="$ctrl.setGameType(option.id)"
    >{{option.name}}</span
  >
</div>
<div layout="column" layout-align="start center" style="padding: 20px;">
  <form
    ng-submit="$ctrl.addPlayer($ctrl.username)"
    layout
    layout-align="start center"
  >
    <label>
      <input required type="text" ng-model="$ctrl.username" />
    </label>
    <button
      style="margin-left: 10px;"
      ng-disabled="!$ctrl.type || ($ctrl.type === 'single' && $ctrl.players.length === 1) || $ctrl.players.length === 4"
      type="submit"
    >
      Add Player
    </button>
  </form>
  <span ng-show="$ctrl.players.length === 4">Max 4 Players</span>
</div>
<div layout layout-align="center start">
  <div>
    <div
      class="player-list-item"
      ng-repeat="player in $ctrl.players"
      layout
      layout-align="start center"
    >
      <div><strong>{{$index + 1}}.</strong></div>
      <div>Pug: {{player.id}}</div>
      <div>
        Username:
        <span class="turn-label {{player.id}}">{{player.username}}</span>
      </div>
    </div>
  </div>
</div>
<div style="padding: 20px;" layout="column" layout-align="start center">
  <button ng-disabled="!$ctrl.players.length" ng-click="$ctrl.startGame()">
    Start Game
  </button>
  <span ng-show="$ctrl.type === 'multiple' && $ctrl.players.length < 2"
    >Please select at least 2 players</span
  >
</div>
